body {
    margin: 0;
    font-family: Arial, sans-serif;
}
#map {
    height: 90vh;
    width: 75%;
}
#sidebar {
    width: 25%;
    float: right;
    padding: 10px;
    background: #f4f4f4;
    height: 90vh;
    overflow-y: auto;
}
h2 {
    margin: 10px;
}

.leaflet-interactive.fade-out {
    transition: opacity 2s ease-out;
    opacity: 0;
  }
